<div id="<%= id %>" class="p-6 rounded-xl bg-gray-100 w-60 aspect-1 shrink-0">
  <div class="flex flex-col h-full">
    <div class="grow">
      <div class="font-semibold"><%= title %></div>
      <div class="text-gray-400 py-2"><%= subtitle %></div>
    </div>
    <div>
      <%= content %>
    </div>
  </div>
</div>
