<%= render CardComponent.new(project.name, subtitle: project.summary, id: dom_id(project)) do %>
  <div class="flex gap-3">
    <%= link_to "Edit", edit_project_path(project), class: "text-blue-600", data: { turbo_frame: "modal" } %>
    <%= link_to "Show", project, class: "text-blue-600" %>
  </div>
<% end %>